body {
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    margin-left: 125px;
    font-size: 18px;

    background-image: url('bg_rain.png');
    background-size: 100% auto;
    background-position: top center;
}
hr {
    display: none;
}
a {
    text-decoration: none;
    color: white;
    background-color: #222;
}
a:hover {
    color: orange
}

h1, h2 {
    font-weight: normal;
}

body > h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    background-color: #222;
    color: white;
    font-size: 48px;
    padding: 4px;
    padding-left: 1em;
    padding-right: 1em;

    z-index: 2;

    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
}

#title_part {
    position: absolute;
    top: 130px;
    left: 180px;
    background-color: transparent;
    color: black;
    font-size: 24px;
    font-family: league_script;
    
    z-index: 3;

    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}

#title {
    margin: 0px;
    margin-left: -45px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    color: #222;
    font-size: 48px;
    font-family: chunk;
    background-color: white;

    z-index: 4;
    
    box-shadow: 0px 1px 2px #ccc;
    -webkit-box-shadow: 0px 1px 2px #ccc;

    transform: rotate(-.5deg);
    -webkit-transform: rotate(-.5deg);
    -o-transform: rotate(-.5deg);
}

#navigation > * {
    position: absolute;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 10;
}

#nav_about {
    left: 890px;
    top: 50px;
    padding: 4px;
    font-size: 24px;

    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}

#nav_gloss {
    left: 920px;
    top: 95px;
    padding: 4px;
    font-size: 24px;

    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}

#nav_links {
    left: 910px;
    top: 140px;
    padding: 4px;
    font-size: 24px;

    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}

#nav_cover {
    top: 250px;
    left: 30px;

    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
}

#nav_prev {
    top: 300px;
    left: 40px;
    font-size: 24px;
    padding: 4px;

    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}

#nav_next {
    top: 360px;
    left: 30px;
    font-size: 24px;
    padding: 4px;

    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}

#nav_last {
    top: 420px;
    left: 30px;

    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}

#article {
    z-index: 1;
    padding-top: 115px;
    padding-left: 80px;
    padding-right: 20px;
    padding-bottom: 4em;
    width: 800px;
    background-image: url('bg_white.png');
    font-family: fanwood;
    font-size: 22px;
}

#article > p {
    text-indent: 2em;
    text-align: justify;
    color: black;
    background-color: white;

    padding: 4px;

    box-shadow: 0px 1px 2px #ccc;
    -webkit-box-shadow: 0px 1px 2px #ccc;
}

#article > p:nth-child(even) {
    margin-left: -8px;
    margin-right: 8px;
}

img.right {
    float: right;
    z-index: 10;
    margin-left: 1em;
    margin-right: -40px;
}

img.left {
    float: left;
    z-index: 10;
    margin-right: 1em;
    margin-left: -80px;
}

#creative_commons {
    position: absolute;
    display: inline-block;
    left: -100px;
    top: -15px;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 2px;
    margin-bottom: -80px;

    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}
#creative_commons > a {
    vertical-align: -2px;
    background-color: transparent!important;
}
#creative_commons > a:hover {
    background-color: orange!important;
}
#creative_commons > img {
    display: inline-block;
}

#footer {
   position: relative;
   margin-top: -3em;
}

#tweeter_hook {
    position: absolute;
    left: 220px;
    top: -30px;
    background-color: #222;
    color: white;
    width: 700px;
    height: 3em;
    padding-top: 4px;

    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}

#tweeter_link {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 400px;
    font-size: 32px;
    text-align: center;
    color: white;
}